<div class="top">
  <hr />
  <h2 class="text-center">
    ELDERS
  </h2>
  <hr />
</div>
<div class="card-header pt-3">
  <i class="fa fa-filter" aria-hidden="true"></i> Filter
  <select holder="Category" class="ml-3 rounded px-2 py-1" [(ngModel)]="category">
    <option value="" label="-- Select Category --" disabled selected="selected"></option>
    <option value="0">Name</option>
    <option value="1">Age</option>
    <option value="2">Bed No.</option>
    <option value="3">Date of Admission</option>
    <option value="4">Status</option>
  </select>
  <input
    *ngIf="category == 0"
    class="ml-3 rounded px-2 py-1"
    type="text"
    [(ngModel)]="name"
    (keyup)="filter($event.target.value)"
  />
  <input
    *ngIf="category == 1"
    class="ml-3 rounded px-2 py-1"
    type="text"
    [(ngModel)]="age"
    (keyup)="filter($event.target.value)"
  />
  <input
    *ngIf="category == 2"
    class="ml-3 rounded px-2 py-1"
    type="text"
    [(ngModel)]="bed_no"
    (keyup)="filter($event.target.value)"
  />
  <input
    *ngIf="category == 3"
    class="ml-3 rounded px-2 py-1"
    type="text"
    [(ngModel)]="date_aff"
    (keyup)="filter($event.target.value)"
  />
  <select
    *ngIf="category == 4"
    class="ml-3 rounded px-2 py-1"
    [(ngModel)]="status"
    (change)="filter()"
  >
    <option value="">Select Status</option>
    <option value="0">Active</option>
    <option value="1">Discharge</option>
    <option value="2">Desease</option>
  </select>
  <button class="btn btn-info mr-1 float-right" (click)="exportPdf()">
    Export as PDF
  </button>
  <button
    class="btn btn-light float-right"
    (click)="router.navigate(['/elders/add'])"
  >
    <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
  </button>
</div>
<div class="card mb-3">
  <table class="table table-striped">
    <thead class="bg-primary-color text-light">
      <tr>
        <th class="flex-1">
          Full Name
          <a class="bg-transparent float-right" (click)="sort('first_name')">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </a>
        </th>
        <th class="text-center">
          Age
          <a class="bg-transparent float-right" (click)="sort('age')">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </a>
        </th>
        <th class="text-center">
          Bed No.
          <a class="bg-transparent float-right" (click)="sort('bed_no')">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </a>
        </th>
        <th class="text-center">
          Date Admission
          <a class="bg-transparent float-right" (click)="sort('date_stay_in_orphanage')">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </a>
        </th>
        <th class="text-center">
          Status
          <!-- <button class="btn bg-transparent float-right" (click)="open(setting)">
            <i class="fa fa-cog ml-3" aria-hidden="true"></i>
          </button> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="elderList.length == 0">
        <td colspan="13" class="text-center">No Record</td>
      </tr>
      <tr *ngFor="let elder of elderList" (click)="router.navigate(['/elders/details', { id: elder.id }])">
        <td>
          {{ elder.first_name }} {{ elder.last_name }}
        </td>
        <td class="text-center">{{ elder.age }}</td>
        <td class="text-center">{{ elder.bed_no }}</td>
        <td class="text-center">
          {{ elder.date_stay_in_orphanage }}
        </td>
        <td class="text-center"
          [ngClass]="{
            'text-yellow': elder.status != 0,
            'text-info': elder.status == 0
          }"
        > {{ elder.status == 0 ? 'Active' : elder.status == 1 ? 'Discharge' : 'Desease' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Settings -->
<div>
  <ng-template #setting let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title text-center">Settings</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="c('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset class="form-group">
        <div class="d-flex justify-content-between ">
          <div class="px-1 border-right">
            <ul style="list-style: none;">
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Name</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Nickname</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Age</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Birthday</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Birth Place</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Sabbath</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Provincial Address</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Civil Status</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Gender</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Date of Admission</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Bed No.</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Nationality</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Provincial Address</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Contact Person</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Contact Number</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Relationship</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Provincial Address</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Phil Health ID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>SSS ID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Senior Citizen ID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Pagibig ID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Status</span>
              </li>
            </ul>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">
        Done
      </button>
    </div>
  </ng-template>
</div>