<div class="top">
  <hr />
  <h2 class="text-center">
    STAFF
  </h2>
</div>
  <div class="card-header pt-3">
    <i class="fa fa-filter" aria-hidden="true"></i> Filter
    <select holder="Category" class="ml-3 rounded px-2 py-1" [(ngModel)]="category">
        <option value="" label="-- Select Category --" disabled selected="selected"></option>
        <option value="0">Name</option>
        <option value="1">User Role</option>
        <option value="2">Username</option>
        <option value="3">Date Hired</option>
        <option value="4">Status</option>
        <option value="5">Remarks</option>
    </select>
      <input
        *ngIf="category == 0"
        class="ml-3 rounded px-2 py-1"
        type="text"
        [(ngModel)]="name"
        (keyup)="filter()"
      />
      <select
        *ngIf="category == 1"
        class="ml-3 rounded px-2 py-1"
        [(ngModel)]="role"
        (change)="filter()"
      >
        <option value="">Select User Role</option>
        <option value="0">Admin</option>
        <option value="1">Medical Staff</option>
        <option value="2">Staff</option>
      </select>
      <input
        *ngIf="category == 2"
        class="ml-3 rounded px-2 py-1"
        type="text"
        [(ngModel)]="email"
        (keyup)="filter($event.target.value)"
      />
      <input
        *ngIf="category == 3"
        class="ml-3 rounded px-2 py-1"
        type="text"
        [(ngModel)]="date_hired"
        (keyup)="filter($event.target.value)"
      />
      <select
        *ngIf="category == 4"
        class="ml-3 rounded px-2 py-1"
        [(ngModel)]="status"
        (change)="filter()"
      >
        <option value="">Select Status</option>
        <option value="0">Full-time</option>
        <option value="1">Part-time</option>
      </select>
      <select
        *ngIf="category == 5"
        class="ml-3 rounded px-2 py-1"
        [(ngModel)]="remarks"
        (change)="filter()"
      >
        <option value="">Select Remarks</option>
        <option value="0">Offline</option>
        <option value="1">Online</option>
      </select>
    <button class="btn btn-info mr-1 float-right" (click)="exportPdf()">
      Export as PDF
    </button>
    <button
      class="btn btn-light float-right"
      (click)="router.navigate(['/staff/add'])"
    >
      <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
    </button>
  </div>
<div class="card mb-3">
  <table class="table table-striped">
    <thead class="bg-primary-color text-light">
      <tr>
        <th>
          Name
          <a class="bg-transparent float-right" (click)="sort('first_name')">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </a>
        </th>
        <th class="text-center">
          User Role
          <a class="bg-transparent float-right" (click)="sort('role')">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </a>
        </th>
        <th class="text-center">
          Username
        </th>
        <th class="text-center">
          Date Hired
          <a class="bg-transparent float-right" (click)="sort('date_hired')">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </a>
        </th>
        <th class="text-center">
          Status
        </th>
        <th class="text-center" class="text-center">
          Remarks
          <!-- <button class="btn bg-transparent float-right" (click)="open(setting)">
            <i class="fa fa-cog ml-3" aria-hidden="true"></i>
          </button> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList" ng-repeat="post in posts | Filter" (click)="router.navigate(['/staff/details', { id: staff.id }])">
        <td>{{ staff.first_name }} {{ staff.last_name }}</td>
        <td class="text-center">{{ getRole(staff.role) }}</td>
        <td class="text-center">{{ staff.email }}</td>
        <td class="text-center">{{ staff.date_hired }}</td>
        <td class="text-center"
          [ngClass]="{
            'text-yellow': staff.status == 2,
            'text-info': staff.status != 2
          }"
        > {{ staff.status == 0 ? 'Full-time' : staff.status == 1 ? 'Part-time' : 'Resigned' }}</td>
        <td class="text-center"
          [ngClass]="{
            'text-danger': staff.remarks == 0,
            'text-success': staff.remarks == 1
          }"
        > {{ staff.remarks == 0 ? 'Offline' : 'Online' }}</td>
      </tr>
      <tr *ngIf="staffList.length == 0">
        <td colspan="13" class="text-center">No Record</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Settings -->
<div>
  <ng-template #setting let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title text-center">Settings</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="c('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset class="form-group">
        <div class="d-flex justify-content-between ">
          <div class="px-1 border-right">
            <ul style="list-style: none;">
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Name</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>E-mail</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Nickname</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Gender</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Age</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Birth Date</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Birth Place</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Sabbath</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Provincial Address</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Civil Status</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Nationality</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Address</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Contact Number</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Date Hired</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Role</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Phil Health ID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>SSS ID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Pagibig ID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>UMID</span>
              </li>
              <li>
                <input type="checkbox" class="mr-2" />
                <span>Status</span>
              </li>
            </ul>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">
        Done
      </button>
    </div>
  </ng-template>
</div>