<div class="top">
  <hr />
  <h2 class="text-center">
    HOSPITAL LIST
  </h2>
  <hr />
</div>

<div class="card-header pt-3">
    <i class="fa fa-filter" aria-hidden="true"></i> Filter
    <select holder="Category" class="ml-3 rounded px-2 py-1" [(ngModel)]="category">
        <option value="" label="-- Select Category --" disabled selected="selected"></option>
        <option value="0">Hospital Name</option>
        <option value="1">Address</option>
        <option value="2">Contact Number</option>
        <option value="3">Service Offer</option>
    </select>
      <input
        *ngIf="category == 0"
        class="ml-3 rounded px-2 py-1"
        type="text"
        [(ngModel)]="hospital_name"
        (keyup)="filter()"
      />
      <input
        *ngIf="category == 1"
        class="ml-3 rounded px-2 py-1"
        type="text"
        [(ngModel)]="address"
        (keyup)="filter()"
      />
      <input
        *ngIf="category == 2"
        class="ml-3 rounded px-2 py-1"
        type="number"
        [(ngModel)]="hospital_contact_no"
        (keyup)="filter($event.target.value)"
      />
      <input
        *ngIf="category == 3"
        class="ml-3 rounded px-2 py-1"
        type="text"
        [(ngModel)]="service_offer"
        (keyup)="filter($event.target.value)"
      />
    <button
      class="btn btn-info float-right"
      (click)="open(content)"
    >
      <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add
    </button>
  </div>

<div class="card mb-3">
  <table class="table table-striped">
    <thead class="bg-primary-color text-light">
      <tr>
        <th>
          Name
          <a class="bg-transparent float-right" (click)="sort('hospital_name')">
            <i class="fa fa-sort" aria-hidden="true"></i>
          </a>
        </th>
        <th>Addess</th>
        <th class="text-center">Contact Number</th>
        <th class="text-center">Service Offer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hospital of hospitalList" 
          (click)="router.navigate(['/hospitals/details', { id: hospital.id }])">
        <th scope="row">{{ hospital.hospital_name }}</th>
        <td>
          {{ hospital.address }}
        </td>
        <td class="text-center">{{ hospital.hospital_contact_no }}</td>
        <td class="text-center">{{ hospital.service_offer }}</td>
      </tr>
      <tr *ngIf="hospitalList.length == 0">
        <td class="text-center p-3" colspan="13">No Record</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title text-center">Add hospital</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="c('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <fieldset class="form-group">
        <label>Name
          <label class="red">*</label>
        </label>
        <input
          class="form-control"
          placeholder=""
          [(ngModel)]="hospital.hospital_name"
        />
      </fieldset>
      <fieldset class="form-group">
        <label>Contact Number</label>
        <input
          class="form-control"
          placeholder=""
          type="number"
          [(ngModel)]="hospital.hospital_contact_no"
        />
      </fieldset>
      <fieldset class="form-group">
        <label>Address</label>
        <textarea
          class="form-control"
          placeholder=""
          [(ngModel)]="hospital.address"
        ></textarea>
      </fieldset>
      <fieldset class="form-group">
        <label>About</label>
        <textarea
          class="form-control"
          placeholder=""
          [(ngModel)]="hospital.about"
        ></textarea>
      </fieldset>
      <fieldset class="form-group">
        <label>Contact Doctors</label>
        <div class="form-group">
          <label for=""></label>
          <select class="custom-select" [(ngModel)]="docIndex" multiple="">
            <option
              *ngFor="let doctor of doctorList; let i = index"
              [value]="i"
              >{{ doctor.doc_name }}</option
            >
          </select>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label>Sevices Offer</label>
        <div class="form-group">
          <label for=""></label>
          <select class="custom-select" [(ngModel)]="serviceIndex" multiple>
            <option
              *ngFor="let service of serviceList; let i = index"
              [value]="i"
              >{{ service }}</option
            >
          </select>
        </div>
      </fieldset>

      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
          alert.message
        }}</ngb-alert>
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="c('Close click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="addHospital()">
        Add
      </button>
    </div>
  </ng-template>
</div>
