$topnav-background-color: #2D7DAC;

.color-dark-primary {
    color: #2D7DAC;
}

.image-icons {
    height: 160px;
    margin: 5px;
}

.bg-primary-color {
    background: $topnav-background-color;
}

.flex-1 {
    flex: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.red {
  color: red;
}